name: TP3 CI/CD - API and Security

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -q clean package

      - name: Start Application
        # Le & à la fin est crucial pour lancer l'app en arrière-plan
        run: nohup java -jar target/formation-cicd-test-tp-03-1.0-SNAPSHOT.jar > app.log 2>&1 &

      - name: Wait for API to be ready
        run: |
          for i in {1..30}; do
            if curl -sSf http://localhost:8080/health > /dev/null; then
              echo "API is up!"
              exit 0
            fi
            echo "Waiting API..."
            sleep 2
          done
          echo "API not ready"
          tail -n 200 app.log || true
          exit 1

      - name: Prepare API test reports directory
        run: mkdir -p api-test-reports

      - name: Run API tests (Hurl via Docker)
        run: |
          docker run --rm \
            --add-host=host.docker.internal:host-gateway \
            -v ${{ github.workspace }}:/work \
            ghcr.io/orange-opensource/hurl:latest \
            --test /work/src/test/java/api \
            --report-junit /work/api-test-reports/junit.xml \
            --report-html /work/api-test-reports/report.html

      - name: Upload API Test Reports
        if: always() # On garde les rapports même si les tests échouent
        uses: actions/upload-artifact@v4
        with:
          name: api-test-reports
          path: api-test-reports/

  security-scan:
    needs: api